BOT_TOKEN=

SSIS_BOT_TOKEN=

TOGETHERNET_SERVER_GUILD_ID=
STYRELSE_ROLE_ID=
TOGETHERNET_IT_LOGS_CHANNEL_ID=
TOGETHERNET_ROLE_ID=
MINION_ROLE_ID=

DESIGN_ROLE_ID=
KOMMUNIKATION_ROLE_ID=
PLANERING_ROLE_ID=
KARAOKE_ROLE_ID=
FILM_PARTY_ROLE_ID=
PATCHES_ROLE_ID=
LJUD_LJUS_KABLAR_ROLE_ID=
PANT_ROLE_ID=